<h2>All Bookmarks</h2>

<% @bookmarker.each do |bookmark| %> 
  <h3><%= bookmark.name %></h3>
  <p><%= bookmark.url %></p>
  <p><%= bookmark.genre %></p>

  <a href="/bookmarker/<%= bookmark.id %>/edit">Edit this Bookmark</a><br>

  <a href="<%= bookmark.url %>">Click here to visit <%= bookmark.name %></a>

  <hr>
<%end%>

