<p><%= @bookmarker.name %></p>
<a href="http://<%= @bookmarker.url %>">Visit <%= @bookmarker.name %></a><br>

<a href="/bookmarker/<%= @bookmarker.id %>/edit">Edit this Bookmark</a><br>

<form action="/bookmarker/<%= @bookmarker.id %>/delete" method="post">
  <input type="submit" value="Delete this Bookmark">
</form>
<!-- why does it delete when in a form like this but not when I type /bookmarker/4/delete into the browser? -->
